
  <div class="container-fluid">
    <div class="row">
      <h1>Featured Case Studies</h1>
      <div class="col-md-4">
<<<<<<< HEAD
        <img src="/assets/agent-carter.jpg" class="img-circle">
=======
        <img src="/assets/agent-carter.jpg" class="img-circle" alt="Agent Carter">
>>>>>>> gh-pages
        <h4>Gender Equality in Crime Fighting</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-md-4">
<<<<<<< HEAD
        <img src="/assets/anger-management.jpg" class="img-circle">
=======
        <img src="/assets/anger-management.jpg" class="img-circle" alt="Hulk angry">
>>>>>>> gh-pages
        <h4>Anger Management in a Crazy World</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-md-4">
<<<<<<< HEAD
        <img src="/assets/monolith.jpg" class="img-circle">
=======
        <img src="/assets/monolith.jpg" class="img-circle" alt="Monolith">
>>>>>>> gh-pages
        <h4>Space Exploration With the Monolith</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <button type="button" class="btn btn-primary btn-index">More Case Studies</button>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h1>Fostering a Culture of Excellence</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <button type="button" class="btn btn-primary btn-index">Learn More</button>
    </div>

    <div class="row">
      <div class="col-md-9">
        <h2>News Room</h2>
        <ul>
          <li>Lorem ipsum dolor sit amet</li>
          <li>consectetur adipisicing elit</li>
          <li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
          <li>Ut enim ad minim veniam,</li>
          <li>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
          <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
          <li>Excepteur sint occaecat cupidatat non proident</li>
          <li>sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h2>Keep in Touch</h2>
        <ul class="list-unstyled soc-icons">
          <li><p><img src="/assets/fb.jpg" class="img-rounded soc-icons">Facebook</p></li>
          <li><p><img src="/assets/insta.jpg" class="img-rounded soc-icons">Instagram</p></li>
          <li><p><img src="/assets/twit.jpg" class="img-rounded soc-icons">Twitter</p></li>
          <li><p><img src="/assets/yt.jpg" class="img-rounded soc-icons">YouTube</p></li>
      </div>
    </div>

  </div>
