<<<<<<< HEAD
=======
/*******   ELEMENTS    *********/
>>>>>>> gh-pages
h3{
  margin: 0;
}
p{
  line-height: 1.5;
  letter-spacing: 1px;
}
<<<<<<< HEAD
.carousel-caption{
  position: static;
}
.carousel-indicators{
  bottom: 0;
}
=======
>>>>>>> gh-pages
/*******   NAVBAR    *********/
button.navbar-toggle.collapsed{
  border: none;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: #cc0000;
}
<<<<<<< HEAD
=======
.navbar-default{
  background-color: #fff;
  border-color: #fff;
}
.navbar{
  margin-bottom: 5px;
}
#navbar-collapse ul li a{
  font-size: 1.4em;
  transition: color 1s;
  font-weight: 500;
  letter-spacing: 1px;
}
#navbar-collapse ul li a:hover{
  color: #cc0000;
}
>>>>>>> gh-pages
/*******   BUTTONS    *********/
.btn-index{
  display: block;
  margin: 1em auto;
}
<<<<<<< HEAD

=======
>>>>>>> gh-pages
/*******   IMAGES    *********/
.professor-img{
  float: left;
  margin: .5em;
}
.carousel-img{
  margin: 0 auto;
}
.img-circle{
  display: block;
  margin: 1em auto;
}
.avenger-u-banner{
  margin-bottom: 2em;
}
.soc-icons{
  margin-right: 1em;
}
<<<<<<< HEAD
=======
.avengers-slider img{
  width: auto;
}
>>>>>>> gh-pages
/*******   FOOTER    *********/
.footer p{
  margin: 15px;
}
.footer{
  background: black;
  color: #fff;
}
<<<<<<< HEAD
=======
/*******   CAROUSEL    *********/
.carousel-caption{
  position: static;
}
.carousel-indicators{
  bottom: 0;
}
/*******   ACCORDIAN    *********/

>>>>>>> gh-pages
/*******   MEDIA QUERIES    *********/
@media (max-width: 500px) {
    .hulk-img {
        float: none;
        display: block;
        margin: 1em auto;
    }
}
<<<<<<< HEAD
=======
/*******   END   *********/
>>>>>>> gh-pages
